{% extends "base.html" %}
{% block title %}Chi tiêu{% endblock %}
{% block content %}
<h1>Chi tiêu</h1>



<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Ngày</th>
            <th>Danh mục</th>
            <th>Số tiền (VND)</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ "{:,.0f}".format(expense[3]) }} VND</td>
            <td>
                <div class="action-buttons">
                    <a href="{{ url_for('edit_expense', id=expense[0]) }}" class="btn btn-warning btn-sm">Sửa</a>
                    <form action="{{ url_for('delete_expense', id=expense[0]) }}" method="post" class="action-form">
                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Trạng thái định mức các danh mục</h1>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Danh mục</th>
            <th>Tổng chi tiêu</th>
            <th>Ngân sách</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        {% for status in budget_status %}
        <tr>
            <td>{{ status[0] }}</td>
            <td>{{ "{:,.0f}".format(status[2]) }} VND</td>
            <td>{{ "{:,.0f}".format(status[1]) }} VND</td>
            <td>
                {% if status[2] > status[1] %}
                <span class="status-over">Quá Số tiền định mức</span>
                {% elif status[2] == status[1] %}
                <span class="status-on">Đúng Số tiền định mức</span>
                {% else %}
                <span class="status-under">Dưới Số tiền định mức</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button-group">
    <form action="{{ url_for('reset_data') }}" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger">Đặt lại dữ liệu</button>
    </form>
    <form action="{{ url_for('export_data') }}" method="get" style="display: inline;">
        <button type="submit" class="btn btn-success">Xuất Excel</button>
    </form>
</div>
{% endblock %}
